<div class="card">
  <%= link_to image_tag(prototype.image.variant(resize: '500x500'), class: 'card__img'), root_path if prototype.image.attached? %>
  <div class="card__body">
    <%= link_to prototype.title, root_path, class: 'card__title' %>

    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", root_path, class: 'card__user' %>
  </div>
</div>