<main class="main">
  <div class="inner">
      <div class="greeting"> 
        こんにちは、
      <% if user_signed_in? %>
        <%= link_to "#{current_user.name} さん", root_path, class: :greeting__link %>
      <% else %>
        ゲストさん
      <% end %>
  <div class="card__wrapper">
    <% @prototypes.each do |prototype| %>
      <%= render partial: "prototype", locals: {prototype: prototype} %>
    <% end %>
  </div>

  </div>
</main>
